<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewvport" content="width=device-width, initial-scale=1">
    <link href="app/css/bootstrap.min.css" rel="stylesheet">

    <title>
        Gnome Pi
    </title>
</head>

<body>
    <div id='app'>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header" v-if="isAuthenticated">
                        <a class="navbar-brand" href="/dashboard">gnome</a>
                    </div>
                    <div class="navbar-header" v-if="!isAuthenticated">
                        <a class="navbar-brand" href="/">gnome</a>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" v-if="isAuthenticated">
                            <li>
                                <a href="/accounts">accounts</a>
                            </li>
                            <li>
                                <a href="/reports">reports</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a v-if="isAuthenticated" href="/logout">log out</a>
                                <a v-if="!isAuthenticated" href="/login">log in</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container-fluid">
                
            </div>
        </div>
    </div>
    <script src="app/js/jquery-1-12-4.min.js"></script>
    <script src="app/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="app/app.js"></script>
</body>

</html>