{% extends "base.html" %} {% block content %}
<h1>accounts</h1>

<table class="table table-striped">
    {% for account in model %}
    <tr>
        <td>
            <a href="/accounts/{{account['_id']}}/transactions">{{account['name']}}</a>
        </td>
        <td>
            <a href="/accounts/{{account['_id']}}">edit</a>
        </td>
    </tr>
    {% endfor %}
</table>
<form method='post' action='/accounts'>
    <input class='btn btn-default' value='create new' type='submit' />
</form>

{% endblock %}